@import 'theme/button.scss';
@import 'theme/text-field.scss';
@import 'theme/check-box.scss';
@import 'theme/radio-box.scss';

body {
    font-family: 'sans serif';
    width: 100%;
    height: 100%;
}

.scroll-content {
    overflow-x: auto;
    overflow-y: auto;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

