.check-box-container {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    font-size: 1.5rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: lighter;
}

.check-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-box-container .check-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #39ac39;
    border-radius: 0.375rem;
}

.check-box-container input:checked ~ .check-box {
    background-color: #39ac39;
}

.check-box:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box-container input:checked ~ .check-box:after {
    display: block;
}

.check-box-container .check-box:after {
    left: 0.45rem;
    top: 0rem;
    width: 0.45rem;
    height: 1.05rem;
    border: solid #ffffff;
    border-width: 0 0.15rem 0.15rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}