.radio-box-container {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    font-size: 1.5rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: lighter;
}

.radio-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-box-container .radio-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #39ac39;
    border-radius: 0.75rem;
}

.radio-box:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-box-container input:checked ~ .radio-box:after {
    display: block;
}

.radio-box-container .radio-box:after {
    left: 0.3rem;
    top: 0.3rem;
    right: 0.3rem;
    bottom: 0.3rem;
    border-radius: 0.75rem;
    background-color: #39ac39;
    border-style: none;
}