.text-field {
    font-size: 1.5rem !important;
    background-color: #ffffff !important;
    border-style: solid !important;
    border-color: #cccccc !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem !important;
}

.text-field:focus {
    border-color: #39ac39 !important;
    box-shadow: #39ac39 !important;
}

.text-area {
    font-size: 1.5rem !important;
    background-color: #ffffff !important;
    border-style: solid !important;
    border-color: #cccccc !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem !important;
}

.text-area:focus {
    border-color: #39ac39 !important;
    box-shadow: #39ac39 !important;
}